@import '../mixins/cleanup-btn.mixin.scss';
@import '../mixins/circle-btn.mixin.scss';

@mixin  ripple {
  position: relative;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    background-color: var(--def);
    padding: 50%;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%) scale(1);
    transition: transform .75s, opacity .75s linear;
  }

  &:active::before {
    transition: 0s;
    opacity: 1;
    transform: translate(-50%, -50%) scale(0);
  }
}

.btn {
  cursor: pointer;
  font-weight: 500;
  padding: 10px 20px;
  color: var(--base);
  border-radius: 4px;
  font-family: inherit;
  background-color: var(--accent-main);
  @include ripple;

  &:not(.b-icon) {
    min-height: 40px;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.75;
  }

  &.success {
    background-color: #3ac05b;
    color: var(--def);
  }

  &.b-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: 12px;
    background: transparent;
    color: var(--neutral-regular);
    border-radius: 50%;
    transition: background .2s linear;

    &:hover {
      background: var(--light);
    }

    &.small {
      padding: 0;
      width: 30px;
      height: 30px;
    }

    &.large {
      padding: 0;
      width: 60px;
      height: 60px;
      background-color: var(--accent-secondary);
      color: var(--def);
      font-size: 18px;
      box-shadow:
        0 3px 5px -1px rgba(0,0,0,.2),
        0 6px 10px 0 rgba(0,0,0,.14),
        0 1px 18px 0 rgba(0,0,0,.12);
    }
  }

  &-secondary {
    color: var(--neutral-primary);
    background: transparent;
    border: 1px solid var(--neutral-secondary);
    transition: border .2s linear;

    &::before {
      background-color: var(--neutral-secondary);
    }

    &:hover {
      border: 1px solid var(--base);
    }
  }

  &-invert {
    color: var(--neutral-regular);
    background: transparent;
    border: 1px solid var(--neutral-placeholder);
    transition: all .2s linear;
    padding: 8px 20px;

    &::before {
      background-color: var(--light);
    }

    &:hover {
      border: 1px solid var(--neutral-primary);
      color: var(--neutral-primary);
    }
  }
}

.circle-btn {
  @include circle-btn;
  @include ripple;
}

.btn-clean {
  @include cleanup-btn;
}
