@import '../../../styles/mixins/panel.mixin.scss';
@import '../../../styles/mixins/base-form.mixin.scss';

.panel {
  @include panel;

  &__body {
    min-height: unset;
  }
}

.form {
  @include base-form;

  &__row {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
  }

  &__column {
    display: flex;
    align-items: center;

    & > .circle-btn:not(:last-child) {
      margin-right: 15px;
    }
  }

  &__control {
    flex-grow: 1;
    margin-bottom: 35px;

    &:not(:first-child) {
      margin-left: 20px;
    }

    & > label {
      margin-left: 10px;
      margin-bottom: 15px;
    }
  }
}

.with-tooltip {
  position: relative;

  &__popover {
    position: absolute;
    display: inline-block;
    background-color: var(--neutral-main);
    color: var(--def);
    font-size: 12px;
    text-align: center;
    text-transform: capitalize;
    line-height: 1.2;
    padding: .2rem .5rem;
    border-radius: 4px;
    width: 75px;
    bottom: 50%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, 0%);
    transition: all .3s linear;
    pointer-events: none;

    &::after {
      content: "";
      position: absolute;
      border: 5px solid transparent;
      border-top-color: var(--neutral-main);
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
    }

    &.active {
      opacity: 1;
      transform: translate(-50%, -100%);
      pointer-events: all;
    }
  }
}
