<div
  class="panel"
  *ngIf="item"
>
  <div class="panel__header">
    <h1>
      <i class="fas fa-link"></i>
      <a
        [routerLink]="['/home', 'records']"
      >
        {{ selectedRecord.name }}
      </a>
      <span>/ {{ item.name }}</span>
    </h1>
  </div>
  <div class="panel__body">
    <form
      class="form"
      [formGroup]="form"
      (ngSubmit)="onSubmit()"
    >
      <div>
        <div class="form__control">
          <label>Name</label>
          <input
            type="text"
            class="input-field-rounded"
            formControlName="name"
            #nameInput
          >
          <div
            class="form__errors"
            *ngIf="form.get('name').touched && form.get('name').invalid"
          >
            <span *ngIf="form.get('name').hasError('required')">
              💡 Name is required
            </span>
          </div>
        </div>
      </div>
      <div class="form__row">
        <div class="form__control">
          <label>Units</label>
          <input
            type="text"
            class="input-field-rounded"
            formControlName="units"
          >
        </div>
        <div class="form__control">
          <label>Quantity</label>
          <input
            type="text"
            class="input-field-rounded"
            formControlName="quantity"
          >
          <div
            class="form__errors"
            *ngIf="form.get('quantity').touched && form.get('quantity').invalid"
          >
            <span *ngIf="form.get('quantity').hasError('required')">
              💡 Quantity is required
            </span>
          </div>
        </div>
      </div>
      <div class="form__row">
        <div class="form__column">
          <a
            class="circle-btn"
            [routerLink]="['/home', 'records']"
          >
            <i class="fas fa-arrow-alt-circle-left"></i>
          </a>
          <button
            class="circle-btn"
            type="button"
            (click)="removeItem()"
          >
            <i class="fas fa-eraser"></i>
          </button>
          <div class="with-tooltip">
            <span
              class="with-tooltip__popover"
              [class.active]="isCloned"
            >Item cloned!</span>
            <button
              class="circle-btn"
              type="button"
              (click)="cloneItem()"
            >
              <i class="fas fa-clone"></i>
            </button>
          </div>
        </div>
        <div class="form__column">
          <div
            class="with-tooltip"
            *ngIf="isDirty"
          >
            <span
              class="with-tooltip__popover"
              [class.active]="isSaved"
            >Changes saved!</span>
            <button
              class="circle-btn"
              type="submit"
            >
              <i class="far fa-save"></i>
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
