<div
  class="list__item"
  *ngIf="item"
>
  <div class="group gap fields">
    <div class="edit gap">
      <span class="field-name">Name</span>
      <input
        type="text"
        class="edit-input"
        (keydown.enter)="save()"
        [(ngModel)]="newName"
        #editInp
      >
    </div>

    <div class="group" *ngIf="item.quantity">
      <div class="edit gap-right">
        <span class="field-name">Option</span>
        <input
          type="text"
          class="edit-input"
          [value]="item.option"
          disabled
        >
      </div>

      <div class="edit">
        <span  class="field-name">Quantity</span>
        <input
          type="text"
          class="edit-input"
          (keydown.enter)="save()"
          [(ngModel)]="newQuantity"
        >
      </div>
    </div>
  </div>

  <div class="group between">
    <div class="group">
      <button
        class="btn b-icon fix-size"
        title="Back"
        (click)="prevRoute()"
      >
        <i class="fas fa-arrow-alt-circle-left"></i>
      </button>

      <button
        class="btn b-icon fix-size"
        title="Delete"
        (click)="remove()"
      >
        <i class="fas fa-eraser"></i>
      </button>

      <div class="clone">
        <span
          class="clone__popover"
          [class.active]="isCloned"
        >Item cloned!</span>

        <button
          class="btn b-icon fix-size"
          title="Clone"
          (click)="clone()"
        >
          <i class="fas fa-clone"></i>
        </button>
      </div>
    </div>

    <button
      class="btn b-icon fix-size"
      title="Save"
      (click)="save()"
    >
      <i class="far fa-save"></i>
    </button>
  </div>
</div>
