<div class="navbar">
  <div class="navbar__wrapper">
    <ul class="nav">
      <li>
        <a
          class="nav__link"
          routerLink=""
          routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}"
        >
          <i class="fas fa-home"></i>
          <span class="tooltip">
            Home
          </span>
        </a>
      </li>
      <li>
        <a
          class="nav__link"
          routerLink="/add"
          routerLinkActive="active"
        >
          <i class="fas fa-pencil-alt"></i>
          <span class="tooltip">
            Add item
          </span>
        </a>
      </li>
      <li>
        <a
          class="nav__link"
          routerLink="/list"
          routerLinkActive="active"
        >
          <i class="fas fa-file-alt"></i>
          <span class="tooltip">
            Open list
          </span>
        </a>
      </li>
    </ul>

    <ul class="auth">
      <li *ngIf="!authService.isLogin">
        <button
          class="btn btn-invert auth__btn"
          (click)="onLogin()"
        >
          Login
        </button>
      </li>
      <li *ngIf="authService.isLogin">
        <button
          class="btn auth__btn"
          (click)="onLogout()"
        >
          Logout
        </button>
      </li>
    </ul>
  </div>
</div>
