<div class="overlay" [class.active]="overlay">
  <div class="snackbar" [class.active]="snackbar">
    <div class="snackbar__body">
      {{ message }}
    </div>
    <div class="snackbar__action">
      <button
        class="btn b-icon small confirm-btn"
        *ngIf="confirmAction"
        (click)="confirm()"
      >
        OK
      </button>
      <button
        class="btn b-icon small"
        (click)="close()"
      >
        <i class="fas fa-times"></i>
      </button>
    </div>
  </div>
</div>
