@import '../../../../styles/mixins/overlay.mixin.scss';

.overlay {
  @include overlay;

  padding: 80px 0px;
  align-items: flex-end;
  background: transparent;
  transition: background .2s cubic-bezier(0,0,.2,1);

  &.active {
    pointer-events: all;
    background: rgba(0, 0, 0, .45);
    backdrop-filter: blur(2px);
  }
}

.snackbar {
  position: relative;
  min-width: 340px;
  max-width: 680px;
  min-height: 45px;
  border-radius: 4px;
  background-color: var(--neutral-main);
  color: var(--neutral-placeholder);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  pointer-events: none;
  opacity: 0;
  transform: translateY(100%);
  transition-duration: .4s;
  transition-property: opacity, transform;
  transition-timing-function: cubic-bezier(0,0,.2,1);
  box-shadow:
    0 3px 5px -1px rgba(0,0,0,.2),
    0 6px 10px 0 rgba(0,0,0,.14),
    0 1px 18px 0 rgba(0,0,0,.12);

  &__body {
    font-size: 16px;
    line-height: 1.5;
    margin-right: 25px;
  }

  &__action {
    display: flex;
    align-items: center;

    & > button:hover {
      background: var(--neutral-primary);
    }

    & > .confirm-btn {
      margin-right: 10px;
      color: var(--def);
    }
  }

  &.active {
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto;
  }
}
