.btn {
  min-height: 40px;
  position: relative;
  font-family: inherit;
  font-weight: 500;
  padding: 10px 20px;
  background-color: var(--accent-main);
  color: var(--base);
  border-radius: 4px;
  cursor: pointer;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    background-color: var(--def);
    padding: 50%;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%) scale(1);
    transition: transform .75s, opacity .75s linear;
  }

  &:active::before {
    transition: 0s;
    opacity: 1;
    transform: translate(-50%, -50%) scale(0);
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.75;
  }

  &.success {
    background-color: #3ac05b;
    color: var(--def);
  }

  &.b-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: 12px;
    background: transparent;
    color: var(--neutral-regular);
    border-radius: 50%;
    transition: background .2s linear;

    &:hover {
      background: var(--light);
    }

    &.small {
      padding: 0;
      width: 25px;
      height: 25px;

      &:hover {
        background: var(--neutral-primary);
      }
    }
  }

  &.gap-right {
    margin-right: 25px;
  }

  &.danger {
    border: 1px solid var(--accent-main);
  }

  &-secondary {
    color: var(--neutral-primary);
    background: transparent;
    border: 1px solid var(--neutral-secondary);
    transition: border .2s linear;

    &::before {
      background-color: var(--neutral-secondary);
    }

    &:hover {
      border: 1px solid var(--base);
    }
  }

  &-invert {
    color: var(--neutral-regular);
    background: transparent;
    border: 1px solid var(--neutral-placeholder);
    transition: all .2s linear;
    padding: 8px 20px;

    &::before {
      background-color: var(--light);
    }

    &:hover {
      border: 1px solid var(--neutral-primary);
      color: var(--neutral-primary);
    }
  }
}

.btn-clean {
  cursor: pointer;
  font-family: inherit;
  font-weight: 400;
  color: var(--neutral-regular);
  border: 1px solid transparent;
  background: transparent;
  transition: color .2s linear;
  padding: 8px 20px;

  &:hover {
    color: var(--neutral-primary);
  }
}
