.tooltip {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--def);
  color: var(--neutral-regular);
  font-size: 12px;
  text-align: center;
  text-transform: capitalize;
  line-height: 1.2;
  padding: .2rem .5rem;
  border-radius: 4px;
  width: 75px;
  height: 30px;
  bottom: -50%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, 60%);
  transition: all .3s linear;
  box-shadow:
    0 2px 20px 0 rgba(0,0,0,0.14),
    0 3px 1px -2px rgba(0,0,0,0.12),
    0 1px 5px 0 rgba(0,0,0,0.2);

  &::after {
    content: "";
    position: absolute;
    border: 5px solid transparent;
    border-top-color: var(--def);
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%) rotate(180deg);
  }
}
