:root {
  --fsize: 18px;

  --def: #fff;

  --base: #dcdfe6;
  --light: #e4e7ed;
  --lighter: #ebeef5;
  --lightex: #f2f6fc;

  /* ------------------------------- */

  --neutral-main: #232425;
  --neutral-primary: #303133;
  --neutral-regular: #606266;
  --neutral-secondary: #909399;
  --neutral-placeholder: #c0c4cc;

  /* ------------------------------- */

  --accent-main: #b21430;
  --accent-primary: #0a4587;
  --accent-regular: #e07028;

  /* ------------------------------- */

  --navbar-height: 50px;
  --auth-form-width: 440px;

  @media (max-width: 570px) {
    --fsize: 16px;
  }
  @media (max-width: 495px) {
    --fsize: 14px;
  }
  @media (max-width: 440px) {
    --fsize: 12px;
  }
  @media (max-width: 395px) {
    --fsize: 10px;
  }
}
