@import '../../../styles/mixins/rounded-input.mixin.scss';
@import '../../../styles/mixins/overlay.mixin.scss';
@import '../../../styles/mixins/dropdown-menu.mixin.scss';

.records {
  margin-bottom: 80px;

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: var(--def);
    border: 1px solid var(--base);
    border-left-width: 8px;
    border-radius: 6px;
    cursor: pointer;
    transition: all .1s linear;

    &:not(:last-child) {
      margin-bottom: 15px;
    }

    &:hover:not(.selected) {
      border-color: var(--accent-secondary);
      border-left: 8px solid var(--accent-secondary);
    }

    &.selected {
      border-color: rgb(81, 238, 120);
      border-left: 8px solid rgb(81, 238, 120);
    }

    & > div > p {
      font-size: 12px;
      color: var(--neutral-regular);
    }
  }

  &__group {
    display: flex;
    align-items: center;

    & > i {
      font-size: 14px;
      color: var(--neutral-regular);
      margin-right: 10px;
    }
  }

  &__more {
    position: relative;
    margin-left: 15px;
  }
}

.create-record {
  display: flex;
  justify-content: center;

  & > .overlay {
    @include overlay;

    align-items: center;
    pointer-events: all;
    background: rgba(0, 0, 0, .45);
    backdrop-filter: blur(2px);
    cursor: zoom-out;

    .panel {
      min-width: 550px;
      padding: 25px 20px;
      background-color: var(--def);
      border-radius: 6px;
      cursor: auto;

      & > label {
        display: block;
        font-size: 14px;
        margin-bottom: 10px;
        font-weight: 500;
      }

      &__group {
        display: flex;

        & > input {
          margin-right: 15px;
        }

        & > button {
          flex-basis: 100px;
        }
      }
    }
  }
}

.dropdown-menu {
  @include dropdown-menu;
}
