@import '../../../styles/mixins/rounded-input.mixin.scss';
@import '../../../styles/mixins/overlay.mixin.scss';
@import '../../../styles/mixins/dropdown-menu.mixin.scss';
@import '../../../styles/mixins/title.mixin.scss';

.header {
  @include title(32px, 700);

  display: flex;
  padding-bottom: 40px;
  align-items: flex-end;
  justify-content: space-between;
  border-bottom: 1px solid var(--neutral-placeholder);

  &__title > p {
    font-size: 14px;
    font-weight: 400;
    margin-top: 10px;
    color: var(--neutral-regular);
  }

  &__filter {
    flex-basis: 200px;

    & > select {
      background-color: var(--def);
    }
  }
}

.records {
  margin-bottom: 80px;
}

.record {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--def);
  border: 1px solid var(--base);
  border-left-width: 8px;
  border-radius: 6px;
  padding: 20px 40px;
  transition: all .1s linear;

  &:not(:last-child) {
    margin-bottom: 15px;
  }

  &:hover:not(.selected) {
    border-color: var(--accent-secondary);
    border-left: 8px solid var(--accent-secondary);
  }

  &.selected {
    border-color: rgb(81, 238, 120);
    border-left: 8px solid rgb(81, 238, 120);
  }

  &__column {
    display: flex;
    align-items: center;

    & > i {
      font-size: 14px;
      margin-right: 10px;
      color: var(--neutral-regular);
    }
  }

  &__date {
    font-size: 12px;
    color: var(--neutral-regular);
  }

  &__menu {
    position: relative;
    margin-left: 15px;
  }
}

.dropdown-menu {
  @include dropdown-menu;
}

.create-record {
  display: flex;
  justify-content: center;

  & > .overlay {
    @include overlay;

    cursor: zoom-out;
    align-items: center;
    pointer-events: all;
    backdrop-filter: blur(2px);
    background: rgba(0, 0, 0, .45);

    .card {
      cursor: auto;
      min-width: 550px;
      padding: 25px 20px;
      border-radius: 6px;
      background-color: var(--def);

      & > label {
        display: block;
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 10px;
      }

      &__row {
        display: flex;

        & > input {
          margin-right: 15px;
        }

        & > button {
          flex-basis: 100px;
        }
      }
    }
  }
}
