@import '../../../styles/mixins/rounded-input.mixin.scss';

.history {
  margin-bottom: 80px;

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: var(--def);
    border: 1px solid var(--base);
    border-radius: 8px;

    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }
}

.input-group {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  margin-right: 20px;

  & > i {
    position: absolute;
    left: 15px;
    font-size: 12px;
    color: var(--neutral-regular);
  }
}

.name-input {
  @include rounded-input;

  width: 100%;
  padding: 10px 15px 10px 35px;
}

.btn-center {
  display: flex;
  justify-content: center;
}
