<div
  class="panel"
  *ngIf="selectedRecord$ | async as record"
>
  <div class="panel__header">
    <h1>
      <i class="fas fa-link"></i>
      <span>{{ record.name | titlecase }}</span>
    </h1>
  </div>
  <div class="panel__body">
    <ul
      class="sh-list"
      *ngIf="record.shoppingList; else placeholder"
    >
      <li
        class="sh-list__item"
        *ngFor="let item of record.shoppingList, let idx = index"
        (click)="toDetail(item)"
      >
        <div class="row">
          <div class="name">
            <b>{{ idx + 1 }}.</b>
            <span>{{ item.name | titlecase }}</span>
          </div>
          <div class="tags">
            <span
              class="tags__tag"
              *ngIf="item.editDate"
            >
              Edited: {{ item.editDate | fromNow }}
            </span>
            <span
              class="tags__tag"
              *ngIf="item.copy"
            >
              Copy
            </span>
          </div>
        </div>
        <div class="row">
          <div class="quantity">
            <span>{{ item.units }}:</span>
            <small>{{ item.quantity }}</small>
          </div>
        </div>
      </li>
    </ul>
    <ng-template #placeholder>
      <div class="placeholder">
        <p>List is empty...</p>
      </div>
    </ng-template>
  </div>
</div>
