@import '../../../styles/mixins/panel.mixin.scss';

.panel {
  @include panel;

  &__body {
    padding: 0;
    min-height: unset;
  }
}

.sh-list {
  padding-bottom: 0px;

  &__item {
    cursor: pointer;
    padding: 20px 80px;
    background: var(--def);
    transition: background .2s linear;
    border-bottom: 1px solid var(--base);

    &:hover {
      background: var(--lightex);
    }

    &:last-child {
      border-bottom: none;
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
    }
  }
}

.row {
  display: flex;

  &:first-child {
    justify-content: space-between;
  }
}

.name {
  width: 100%;
  max-width: 450px;
  margin-right: 10px;
  padding: 10px 0px;
  display: flex;
  align-items: center;

  & > span {
    font-size: 18px;
    margin-left: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.tags {
  display: flex;
  align-items: center;

  &__tag {
    padding: 5px;
    font-size: 12px;
    border-radius: 4px;
    white-space: nowrap;
    color: var(--neutral-regular);
    border: 1px solid var(--neutral-placeholder);

    &:not(:first-child) {
      margin-left: 10px;
    }
  }
}

.quantity {
  font-size: 12px;
  color: var(--neutral-regular);

  & > small {
    margin-left: 5px;
  }
}

.placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 540px;
  padding: 80px 0px;
  font-weight: 500;
  color: var(--neutral-regular);
}
