<h1 class="headline">Add item to {{ shoppingService.listName | lowercase }}</h1>

<form class="form-group" (submit)="create()">
  <div class="form-control">
    <input
      type="text"
      placeholder="Name"
      class="input-field"
      #name
    >
  </div>
  <div class="form-control">
    <input
      type="number"
      [placeholder]="option | titlecase"
      class="input-field"
      #quantity
    >
  </div>
  <div class="form-control right">
    <select #select (change)="option = select.value">
      <option value="amount">Amount</option>
      <option value="weight">Weight</option>
    </select>
  </div>
  <button type="submit" class="btn">Add</button>
</form>
