.form-group {
  background-color: var(--def);
  border: 1px solid var(--base);
  padding: 25px;

  h2 {
    font-size: 28px;
    font-weight: 300;
    margin-bottom: 25px;
  }
}

.input-field {
  width: 100%;
  margin-bottom: 20px;
  padding: 10px 15px;
  border: 1px solid var(--neutral-placeholder);
  border-radius: 4px;
}
