.form-group {
  background-color: var(--def);
  border: 1px solid var(--base);
  padding: 25px;
}

.form-control {
  margin-bottom: 20px;

  &.right {
    display: flex;
    justify-content: flex-end;
  }

  & > select {
    cursor: pointer;
    border: 1px solid transparent;
    transition: border .2s ease-in-out;
    padding: 5px;
    border-radius: 4px;

    &:hover,
    &:focus {
      border: 1px solid var(--neutral-placeholder);
    }
  }
}

.input-field {
  width: 100%;
  min-height: 40px;
  padding: 10px 15px;
  border: 1px solid var(--neutral-placeholder);
  border-radius: 4px;
  transition: all .2s ease-in-out;

  &:focus {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    border: 2px solid rgba(81, 203, 238, 1);
  }
}
