<ul class="list">
  <li
    class="list__item"
    *ngFor="let item of list"
  >
    <div class="group gap">

      <div class="row">
        <div class="name" *ngIf="!isEditable(item)">
          <span
            [title]="item.name"
          >
            {{ item.name | titlecase }}
          </span>
          <button
            class="btn b-icon"
            title="Edit"
            (click)="editableItem = item"
          >
            <i class="fas fa-pen"></i>
          </button>
        </div>

        <div class="edit" *ngIf="isEditable(item)">
          <input
            type="text"
            class="edit-input"
            [(ngModel)]="item.name"
          >
          <button
            class="btn b-icon save-btn"
            title="Save"
            (click)="edit(item)"
          >
            <i class="far fa-save"></i>
          </button>
        </div>
      </div>

      <div class="helpers">
        <span class="tag">
          Edited: few seconds ago
        </span>
        <span class="tag" *ngIf="item.copy">
          Copy
        </span>
      </div>

    </div>

    <p class="amount">
      <b>{{ item.option | titlecase }}: </b>
      <span>{{ item.quantity }}</span>
    </p>

    <div class="group">
      <button
        class="btn btn-secondary danger"
        (click)="remove(item.id)"
      >Delete</button>

      <div class="clone">
        <span
          class="clone__popover"
          [class.active]="isCloned(item)"
        >Item cloned!</span>

        <button
          class="btn btn-secondary"
          (click)="clone(item)"
        >Clone</button>
      </div>

    </div>
  </li>
</ul>
