@import '../../../styles/mixins/auth-form.mixin.scss';

.wrapper {
  margin: 50px 0px;
}

.form {
  @include auth-form;

  &__nav {
    margin-bottom: 35px;

    & > a {
      display: flex;
      align-items: center;
      font-size: 14px;

      & > i {
        margin-right: 8px;
        font-size: 12px;
      }
    }
  }
}
