@import '../../../styles/mixins/wide-wrapper.mixin.scss';

.wrapper {
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  padding-top: calc(80px + var(--navbar-height));
  padding-bottom: 80px;
  flex-grow: 1;
}

footer {
  @include wide-wrapper;

  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 35px 0px;

  &::before {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    background-color: var(--neutral-placeholder);
    z-index: 1;
  }

  & > p {
    padding: 0px 20px;
    background-color: var(--lighter);
    font-size: 14px;
    z-index: 2;

    & > a {
      margin-left: 8px;
      color: var(--neutral-regular);
    }
  }
}
