@import '../../../styles/mixins/wide-wrapper.mixin.scss';

.wrapper {
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  padding-top: calc(80px + var(--navbar-height));
  padding-bottom: 80px;
  flex-grow: 1;
}

footer {
  @include wide-wrapper;

  position: relative;
  display: flex;
  align-items: center;
  padding: 25px;

  & > div {
    background-color: var(--lighter);
    font-size: 16px;
    z-index: 2;

    & > a {
      font-size: 14px;
      color: var(--neutral-regular);
    }
  }
}
