.item {
  height: 230px;
  padding: 30px;
  background-color: var(--def);
  border: 1px solid var(--base);
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;

  & > span {
    max-width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 28px;
    padding: 10px 0px;
  }
}

.amount {
  font-size: 14px;
  font-weight: 300;
}
