@import '../../../styles/mixins/wide-wrapper.mixin.scss';

.navbar {
  min-height: var(--navbar-height);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: var(--def);
  padding: 10px 0px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.3);

  &__wrapper {
    @include wide-wrapper;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.nav {
  position: relative;
  display: flex;
  align-items: center;
  padding-right: 30px;

  &::before {
    content: "";
    position: absolute;
    right: 0;
    width: 1px;
    height: 35px;
    background-color: var(--neutral-placeholder);
  }

  & > li:not(:last-child) {
    margin-right: 15px;
  }

  &__link {
    position: relative;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background: transparent;
    color: var(--neutral-regular);
    border-radius: 50%;
    transition: background .2s linear;

    &:hover:not(.active) {
      background: var(--light);

      & > span {
        opacity: 1;
      }
    }

    &.active {
      background: var(--light);
    }
  }
}

.right-side {
  display: flex;
}

.user-menu {
  margin-left: 30px;

  &__button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid var(--neutral-placeholder);
    background-color: var(--base);
    color: var(--def);
    font-size: 30px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;
  }
}
