@import '../../../styles/mixins/wide-wrapper.mixin.scss';
@import '../../../styles/mixins/rounded-input.mixin.scss';
@import '../../../styles/mixins/circle-btn.mixin.scss';
@import '../../../styles/mixins/avatar.mixin.scss';
@import '../../../styles/mixins/dropdown-menu.mixin.scss';

.navbar {
  min-height: var(--navbar-height);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: var(--def);
  padding: 10px 0px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.3);

  &__wrapper {
    @include wide-wrapper;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    position: relative;
    font-weight: 500;
    font-size: 18px;
    display: flex;
    align-items: center;

    & > i {
      position: absolute;
      right: -42px;
      font-size: 12px;
      height: 100%;
      display: flex;
      align-items: center;
      background: transparent;
      padding-right: 20px;
      padding-left: 10px;
      color: var(--neutral-regular);
      border-top-right-radius: 50px;
      border-bottom-right-radius: 50px;
    }
  }

  &__menu {
    display: flex;
    align-items: center;
  }
}

.nav {
  position: relative;
  display: flex;
  align-items: center;
  padding-right: 30px;

  &::before {
    content: "";
    position: absolute;
    right: 0;
    width: 1px;
    height: 35px;
    background-color: var(--neutral-placeholder);
  }

  & > li:not(:last-child) {
    margin-right: 15px;
  }

  &__link {
    position: relative;
    @include circle-btn;

    &:hover:not(.active) {
      background: var(--light);

      & > span {
        opacity: 1;
      }
    }

    &.active {
      background: var(--light);
    }
  }
}

.title-input {
  @include rounded-input;

  min-width: 100px;
  padding: 8px 0px 8px 20px;
  color: var(--neutral-regular);
  font-weight: 500;
  font-size: 18px;
  border-top-right-radius: unset;
  border-bottom-right-radius: unset;

  &:focus ~ i,
  &:hover ~ i {
    background-color: var(--lightex);
  }
}

.title-mask {
  position: absolute;
  padding: 8px 0px 8px 20px;
  left: 0;
  bottom: 0;
  z-index: -1;
  white-space: nowrap;
  visibility: hidden;
  pointer-events: none;
}

.user-menu {
  margin-left: 30px;
  position: relative;

  &__button {
    @include avatar(40px);
    transition: background .2s linear;

    &:hover {
      background-color: var(--neutral-placeholder);
    }
  }

  &__dropdown {
    @include dropdown-menu;

    & > li > a {
      color: #000;
    }
  }
}
