.list {
  &__item {
    padding: 25px;
    background-color: var(--def);
    border: 1px solid var(--base);

    &:not(:first-child) {
      margin-top: 20px;
    }

    p {
      margin-bottom: 15px;
    }

    button:not(:last-child) {
      margin-right: 15px;
    }
  }
}

.group {
  display: flex;
  align-items: center;

  &.gap {
    justify-content: space-between;
    margin-bottom: 15px;
  }
}

.row {
  width: 100%;
  max-width: 450px;
  margin-right: 10px;
}

.name,
.edit {
  display: flex;
  align-items: center;

  & > span {
    max-width: 450px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 21px;
    padding: 10px 0px;
    margin-right: 5px;
  }
}

.edit {
  position: relative;

  &-input {
    width: 100%;
    padding: 10px 30px 10px 15px;
    background-color: var(--lightex);
    border-radius: 50px;
  }
}

.save-btn {
  position: absolute;
  right: 2px;
}

.amount {
  font-size: 14px;
  font-weight: 300;
}

.helpers {
  display: flex;
  align-items: center;
}

.tag {
  padding: 5px;
  border: 1px solid var(--neutral-placeholder);
  color: var(--neutral-secondary);
  border-radius: 4px;
  font-size: 14px;
  font-weight: 300;
  white-space: nowrap;

  &:not(:first-child) {
    margin-left: 10px;
  }
}

.clone {
  position: relative;

  &__popover {
    position: absolute;
    display: inline-block;
    background-color: var(--neutral-main);
    color: var(--def);
    font-size: 12px;
    text-align: center;
    text-transform: capitalize;
    line-height: 1.2;
    padding: .2rem .5rem;
    border-radius: 4px;
    width: 75px;
    bottom: 50%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, 0%);
    transition: all .3s linear;

    &::after {
      content: "";
      position: absolute;
      border: 5px solid transparent;
      border-top-color: var(--neutral-main);
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
    }

    &.active {
      opacity: 1;
      transform: translate(-50%, -100%);
    }
  }
}
