@use './styles/reset.scss';
@use './styles/vars.scss';
@use './styles/components/button.scss';
@use './styles/components/tooltip.scss';
@use './styles/components/input.scss';

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  font-size: var(--fsize);
}

.container {
  max-width: 740px;
  width: 100%;
  margin: 0 auto;
}

.headline {
  font-size: 28px;
  font-weight: 700;
  color: var(--neutral-regular);
  margin-bottom: 40px;
}

.heading {
  text-align: center;
  font-size: 36px;
  font-weight: 300;
  margin-bottom: 40px;
}

.placeholder {
  display: flex;
  justify-content: center;
  padding: 25px;
  background-color: var(--def);
  border: 1px solid var(--base);
}
