@import './base-form.mixin.scss';

@mixin auth-form {
  min-width: var(--auth-form-width);
  background-color: var(--def);
  border: 1px solid var(--base);
  border-radius: 6px;
  padding: 50px 40px;

 @include base-form;
}
