@mixin base-form {
  &__control {
    margin-bottom: 25px;

    & > label {
      display: block;
      font-size: 14px;
      margin-bottom: 10px;
      font-weight: 500;
    }
  }

  &__action {
    display: flex;
    flex-direction: column;

    & > button {
      flex-grow: 1;
    }
  }

  &__errors {
    width: 100%;
    min-height: 40px;
    padding: 10px 15px;
    background-color: var(--lighter);
    border-radius: 4px;
    color: var(--accent-main);
    font-size: 12px;
    font-weight: 500;
    margin-top: 10px;
    display: flex;
    align-items: center;
  }
}
