@import '../../../styles/mixins/auth-form.mixin.scss';
@import '../../../styles/mixins/title.mixin.scss';

.heading {
  @include title(36px, 300);

  text-align: center;
}

.form {
  @include auth-form;

  &__redirect {
    margin-top: 35px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;

    & > span {
      margin-right: 5px;
    }
  }
}
